.pizza-item {
    position: relative;
    text-align: center;
    transition: box-shadow 0.5s ease;
    padding: 26px;
    overflow: hidden;

    .pizza-item__img {
        cursor: pointer;
        width: 260px;
        height: 260px;
    }

    .pizza-item__name {
        transition: color 0.5s ease;
        cursor: pointer;
        font-size: 21px;
        font-weight: 400;
        margin-top: 20px;
        font-weight: 500;

        &:hover {
            color: rgb(78, 73, 73);
        }
    }

    .pizza-item__open-ingridients {
        position: relative;
        font-size: 15px;
        padding: 10px 0;
        color: rgb(186, 181, 181);
        display: block;
        margin-top: 10px;
        user-select: none;

        &::after,
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: inline-block;
            height: 1px;
            background-color: rgb(190, 188, 188);
        }

        &::after {
            right: 0;
            left: 60%;
        }

        &::before {
            left: 0;
            right: 60%;
        }

        &:hover + .pizza-item__ingridients {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .pizza-item__inputs-weight {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .pizza-item__inputs {
            display: flex;
            column-gap: 30px;
            margin-left: 15px;

            input {
                display: none;

                &:checked + label {
                    &::before {
                        border: 5px solid rgb(229, 90, 56);
                        background-color: #fff;
                    }
                }
            }
            label {
                cursor: pointer;
                position: relative;
                font-size: 15px;
                padding-left: 15px;

                &::before {
                    content: "";
                    transition: border 0.5s ease;
                    position: absolute;
                    left: -15px;
                    top: 50%;
                    transform: translateY(-50%);
                    display: inline-block;
                    border-radius: 50%;
                    width: 12px;
                    height: 12px;
                    border: 5px solid transparent;
                    background-color: rgb(222, 219, 219);
                }
            }
        }

        .pizza-item__weight {
            display: flex;
            column-gap: 5px;

            .pizza-item__weight-svg {
                width: 15px;
                fill: rgb(190, 188, 188);
            }

            .pizza-item__weight-span {
                font-size: 15px;
                color: rgb(190, 188, 188);
            }
        }
    }

    .pizza-item__footer {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;
        margin-top: 20px;

        .pizza-item__cost {
            background-color: #fdf3b6;
            padding: 11px 25px;
            border-radius: 3px;
            width: 150px;

            span {
                font-weight: 900;
                font-size: 23px;
            }

            @media (max-width: 424px) {
                width: 110px;
                padding: 2px 10px;
            }
        }
    }

    &:hover {
        box-shadow: 0px 0px 20px rgb(183, 181, 181);
    }

    @media (max-width: 424px) {
        padding: 0px;
        &:hover {
            box-shadow: none;
        }
    }
}
