$color: rgb(244, 126, 97);

.header-cart {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    text-decoration: none;
    padding: 10px;
    background-color: $color;
    transition: 0.5s ease;
    margin-left: auto;

    @media (max-width: 980px) {
        margin-left: 0;
        order: 2;
    }

    .header-cart__svg {
        width: 25px;
        fill: white;
    }

    .header-cart__span {
        font-size: 25px;
        color: white;
        font-weight: 500;
    }

    .header-cart__count {
        position: absolute;
        top: -10px;
        right: -10px;
        background-color: $color;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        color: white;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:hover {
        background-color: rgb(230, 101, 69);
    }
}
